* {   
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    line-height: 26px;
    color: #c8553d;
}

nav {
    padding: 20px 0;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list {

}

.nav-list-item {
    display: inline-block;
    padding: 16px 32px;
}

.nav-list-item a {
    text-decoration: none;
    color: #616161;
    font-size: 20px;
    font-weight: 200;
}

.nav-list-item a:hover {
    text-decoration: underline;
    color: #AF2AF2;
}

.nav-inner-list {
    display: none;
}

.nav-inner-list-item {
    
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}

.header-section {
    background-color: #f28f3b;
}

.container {
    max-width: 1400px;
    padding: 0 40px;
    margin: auto;
}

.containerhtml {
    max-width: 1400px;
    padding: 0 40px;
    margin: 0;
}



.section-header-wrapper {
    max-width: 720px;
}

.header-outer-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 80vh;
}

footer {
    background-color: #a480cf;
    color: #ffffff;
    padding: 20px;
}

.header-text-wrapper {
    flex: 1 0 auto;
    width: 48%;
}

.header-img-wrapper {
    flex: 1 1 auto;
    padding-left: 100px;
    max-width: 540px;
    max-height: 100%;
}

.header-img-wrapper img {
    max-width: 100%;
}

.button-wrapper {
    margin-top: 60px;
}

.flex-article {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 40px 0;
}

.article-text-wrapper {
    flex-grow: 1;
    flex-shrink: 2;
    min-width: 600px;
    padding-right: 60px;
}

.article-img-wrapper {
    width: 320px;
    flex-shrink: 0;
}

.article-img {

}

/*styling for text*/
h1,h2,h3,button {
    font-weight: 600;
    color: #2d3047;
}

h1 {
    font-size: 64px;
    line-height: 72px;
    margin-bottom: 60px;
}

h2 {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 28px;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 20px;
}

h4 {
    font-size: 50px;
    line-height: 200px;
    margin-bottom: 60px;
    color: #2d3047;
    padding-left: 40px;
}

h5 {
    font-size: 50px;
    line-height: 200px;
    margin-bottom: 0px;
    color: #2d3047;
    padding-left: 40px;
    background-color: #93b7be;
}

.header-tables {
    padding-left: 100px;
   font-size: 100px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

.paragraph-large {
    font-size: 28px;
    line-height: 36px;
}

button {
    padding: 12px 30px;
    background: #588b8b;
    color: white;
    border: 0px;
    border-style: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
}

button:hover {
    background: #93b7be;
    color: white;
}

.button-2 {
    background: white;
    color: #588b8b;
}

.button-3 {
    background: #588b8b;
    color: white;
}



.logo-first {
    display: block;
    font-size: 24px;
    font-weight: 800;
    color: #588b8b;
}

.logo-second {
    font-size: 18px;
    font-weight: 200;
}

/* html page */
.sp-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 26px;
    color: #ffd5c2;
    background-color: #ffd5c2;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homepage-link {
    padding-left: 20px;
}

.html-img-wrapper {
    padding-right: 100px ;
}

.column {
    float: left;
    width: 33.33%
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

table {
    max-width: 1400px;
    padding: 0 40px;
    margin: auto;
    padding-bottom: 200px;
    padding-right: 300px;
    text-align: center;
    border: ;
}

th {
    padding: 20px 70px;
    background-color: #f28f3b;

}
td {
border: 2px #ffd5c2 solid;
}

form{
    display: inline;
}

.table-paragraph {
    color: #ffd5c2;
    padding-left: 80px;
    padding-top: 30px;
}

/* 
tbale - font text align lef

th font size padding, background colour

td: border thickness 4px colour solid
padding 1st number is top bottom second is sides
*/

.t-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 20px;
    color: #93b7be;
    background-color: #2d3047;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 20px;
}

.tablep2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-left: 80px;
    font-size: 50px;
    color: #c8553d;
}